# Python
*.pyc
__pycache__/

# Django
db.sqlite3
*.log
/staticfiles/
/media/

# Virtual environment
venv/
.env

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
.DS_Store
